.mapNurmockCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("parchment.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100%;
}

.nurmockCenter {
  position: relative;
}
