.container { 
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    height: calc(100% - 30px);
    justify-items: center;
    align-items: center;
}
