.mapGamos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("parchment.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100%;
}

.gamos {
  position: relative;
}

.gamosSouthClickTarget {
  -webkit-text-stroke-width: medium;
  position: absolute;
  bottom: 0px;
  left: 450px;
  justify-content: center;
  width: 200px;
  margin: 4px;
  height: 23px;
  background-color: rgba(206, 206, 206, 0.877);
}
