.page {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    background-color: rgb(154, 156, 155);
    grid-gap: 20px;
    height: calc(100vh - 150px);
    padding: 75px;
    grid-template-areas: 
    "header header"
    "sidebar content"
}


.header{
    grid-area: header;
    width: 1fr;
    background-color: rgba(138, 118, 143, 0.904);
    border: 3px solid #333;
    font-size: 25px;
    padding-bottom: 30px;
}


.leftPane {
    width: 250px;
    background-color: rgba(138, 118, 143, 0.904);
    border: 3px solid #333;
    align-self: stretch;
}

.rightPane {
    flex: 1;
    border: 3px solid #333;
    background-color: rgba(138, 118, 143, 0.904);
    
}
